<ocx-portal-page permission="USERPROFILE#VIEW" helpArticleId="PAGE_USER_PROFILE">
  <ocx-page-header
    [header]="'USER_PROFILE.HEADERS.GENERAL' | translate"
    [subheader]="'USER_PROFILE.HEADERS.SUBHEADER' | translate"
    [actions]="(actions$ | async) ?? []"
  >
  </ocx-page-header>

  <ocx-page-content>
    <app-personal-data
      [userPerson]="(userPerson$ | async) ?? {}"
      [tenantId]="tenantId"
      [exceptionKey]="exceptionKey"
      [componentInUse]="componentInUse"
      (personUpdate)="onpersonUpdate($event)"
    ></app-personal-data>
  </ocx-page-content>
</ocx-portal-page>
