<ocx-portal-page permission="USERPROFILE#VIEW" helpArticleId="PAGE_USER_PROFILE">
  <ocx-page-header
    [header]="'USER_PROFILE.HEADER.GENERAL' | translate"
    [subheader]="'USER_PROFILE.HEADER.SUBHEADER' | translate"
    [actions]="(actions$ | async) ?? []"
  >
  </ocx-page-header>

  <ocx-content class="ocx-content">
    @let profile = (userProfile$ | async) ?? null;
    @if (profile) {
      <app-personal-data
        [userProfile]="profile"
        [exceptionKey]="exceptionKey"
        [componentInUse]="componentInUse"
        (personUpdate)="onPersonUpdate($event, profile)"
      ></app-personal-data>
    }
  </ocx-content>
</ocx-portal-page>
