<ocx-portal-page permission="USERPROFILE#VIEW" helpArticleId="PAGE_USER_PROFILE">
  <ocx-page-header
    [header]="'USER_PROFILE.HEADER.GENERAL' | translate"
    [subheader]="'USER_PROFILE.HEADER.SUBHEADER' | translate"
    [actions]="(actions$ | async) ?? []"
  >
  </ocx-page-header>

  <ocx-page-content>
    <ng-container *ngIf="userProfile$ | async as profile">
      <app-personal-data
        [userProfile]="profile"
        [tenantId]="tenantId"
        [exceptionKey]="exceptionKey"
        [componentInUse]="componentInUse"
        (personUpdate)="onPersonUpdate($event, profile)"
      ></app-personal-data>
    </ng-container>
  </ocx-page-content>
</ocx-portal-page>
