<ng-container *ngIf="imagePath$ | async as imagePath; else placeholder">
  <img
    [ocxSrc]="imagePath"
    [id]="id ?? ''"
    alt="Avatar"
    [class]="'user-avatar-image ' + (imageStyleClass ?? '')"
    [style]="imageStyle ?? ''"
    (error)="onImageError()"
    (load)="onImageLoad()"
  />
</ng-container>

<ng-template #placeholder>
  <div class="flex align-items-center h-full justify-content-center" style="width: 56px">
    <p-skeleton shape="circle" size="2.5rem" class="h-full flex align-items-center"></p-skeleton>
  </div>
</ng-template>
