<ocx-portal-page
  *ngIf="personalInfo$ | async as person"
  permission="ROLES_PERMISSIONS#VIEW"
  helpArticleId="PAGE_USER_PERMISSIONS"
>
  <ocx-page-header
    [header]="person.firstName + ' ' + person.lastName"
    [subheader]="'ROLE_PERMISSIONS.HEADLINE' | translate"
  >
  </ocx-page-header>

  <ocx-page-content>
    <div class="sm:pt-2 pb-2 sm:pb-3 px-3">
      <ocx-slot *ngIf="isUserRolesAndPermissionsComponentDefined$ | async" name="{{ userRolesAndPermissionsSlotName }}">
      </ocx-slot>
    </div>
  </ocx-page-content>
</ocx-portal-page>
