:host ::ng-deep {
  .p-togglebutton {
    padding: 0.1rem;
  }
  .p-togglebutton:not(:disabled):not(.p-togglebutton-checked):hover {
    .p-togglebutton-content {
      background: var(--topbar-bg-color);
      color: var(--topbar-text-color);
    }
  }
}
