<img
  [id]="id"
  *ngIf="!displayDefaultLogo"
  [class]="'avatar-image ' + (styleClass ?? '')"
  [ocxSrc]="imageUrl"
  (error)="onImageError()"
  [alt]="title"
  [pTooltip]="title ? title : ('AVATAR.IMAGE' | translate)"
  tooltipPosition="top"
  tooltipEvent="hover"
/>
<img
  [id]="id"
  *ngIf="displayDefaultLogo"
  [class]="'avatar-image ' + (styleClass ?? '')"
  [src]="defaultImageUrl"
  [alt]="'AVATAR.PLACEHOLDER' | translate"
  [pTooltip]="title ? title : ('AVATAR.PLACEHOLDER' | translate)"
  tooltipPosition="top"
  tooltipEvent="hover"
/>
