:host ::ng-deep {
  .p-panel {
    .p-panel-header,
    .p-panel-content {
      background: unset;
    }
  }
  .p-button-text .p-button-label {
    flex: unset;
  }
  .max-w-32rem {
    max-width: 33.5rem;
  }
  .p-float-label {
    .p-inputtext,
    .p-dropdown .p-dropdown-label {
      padding-top: 0.9rem;
      padding-bottom: 0.6rem;
    }
    label {
      white-space: nowrap;
    }
  }
}
