<ocx-portal-page permission="USERPROFILE#VIEW" helpArticleId="PAGE_USER_PROFILE">
  <ocx-page-header
    *ngIf="personalInfo$ | async as person"
    [header]="'USER_PROFILE.HEADERS.GENERAL' | translate"
    [subheader]="'USER_PROFILE.HEADERS.SUBHEADER' | translate"
  >
  </ocx-page-header>

  <ocx-page-content>
    <app-personal-info
      [personalInfo]="personalInfo$ | async"
      [tenantId]="tenantId"
      (personalInfoUpdate)="onPersonalInfoUpdate($event)"
      [adminView]="false"
    ></app-personal-info>
  </ocx-page-content>
</ocx-portal-page>
