@use '/src/app/_up-mixins.scss' as *;

@include danger-action;
@include ocx-text-responsive;
@include ocx-interactive-data-view-fixes;

:host ::ng-deep {
  .ocx-content > div {
    margin-bottom: 0 !important;
    padding: 0.75rem 0.5rem !important;
  }

  /* fixes for p-card */
  --onecx-user-profile-onecx-user-profile-ui-card-body-padding: 0.5rem;
  --onecx-user-profile-onecx-user-profile-ui-card-border-radius: 4px;
  --onecx-user-profile-onecx-user-profile-ui-card-shadow:
    0 2px 1px -1px #0003, 0 1px 1px #00000024, 0 1px 3px #0000001f;
}
