<div class="sm:pt-2 pb-2 sm:pb-3 px-3">
  <form [formGroup]="formGroup">
    <div class="font-bold my-2">{{ 'LAYOUT_THEME.MENU_MODE' | translate }}</div>
    <div class="flex flex-wrap justify-content-start align-items-center row-gap-1">
      <div *ocxIfBreakpoint="'mobile'">{{ 'LAYOUT_THEME.MENU_MODES.VERTICAL_SIDEBAR_ON_MOBILE' | translate }}</div>
      <p-selectButton
        *ocxIfBreakpoint="'desktop'"
        id="up_layout_theme_menu_mode"
        [options]="menuModeSelectItems"
        formControlName="menuMode"
        (onChange)="saveMenuMode()"
        [pTooltip]="'LAYOUT_THEME.MENU_MODES.TOOLTIP' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      >
        <ng-template let-item pTemplate>{{ item.label | translate }}</ng-template>
      </p-selectButton>
      <button
        *ngIf="changedMenuMode"
        pButton
        pRipple
        type="button"
        icon="pi pi-refresh"
        class="ml-3 p-2 p-button-text"
        id="up_layout_theme_menu_mode_refresh"
        (click)="applyChange()"
        [label]="'GENERAL.RELOAD' | translate"
        [pTooltip]="'GENERAL.APPLY.TOOLTIP' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      ></button>
    </div>

    <div class="font-bold mt-4 sm:mt-5 mb-2">{{ 'LAYOUT_THEME.COLOR_SCHEME' | translate }}</div>
    <div class="flex flex-wrap justify-content-start align-items-center row-gap-1">
      <p-selectButton
        id="up_layout_theme_color_scheme"
        [options]="colorSchemeSelectItems"
        formControlName="colorScheme"
        (onChange)="saveColorScheme()"
        [pTooltip]="'LAYOUT_THEME.COLOR_SCHEMES.TOOLTIP' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      >
        <ng-template let-item pTemplate>{{ item.label | translate }}</ng-template>
      </p-selectButton>
      <button
        *ngIf="changedColorScheme"
        pButton
        pRipple
        type="button"
        icon="pi pi-refresh"
        class="ml-3 p-2 p-button-text"
        id="up_layout_theme_color_scheme_refresh"
        (click)="applyChange()"
        [label]="'GENERAL.RELOAD' | translate"
        [pTooltip]="'GENERAL.APPLY.TOOLTIP' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      ></button>
    </div>

    <div class="font-bold mt-4 sm:mt-5 mb-3">{{ 'LAYOUT_THEME.BREADCRUMBS' | translate }}</div>
    <div class="flex flex-wrap justify-content-start align-items-center row-gap-1">
      <p-inputSwitch
        inputId="up_layout_theme_breadcrumbs"
        formControlName="breadcrumbs"
        (onChange)="saveBreadcrumbs()"
        [pTooltip]="'LAYOUT_THEME.BREADCRUMBS.TOOLTIP' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      >
      </p-inputSwitch>
      <label for="up_layout_theme_breadcrumbs">{{ 'LAYOUT_THEME.BREADCRUMBS' | translate }}</label>
      <button
        *ngIf="changedBreadcrumbs"
        pButton
        pRipple
        [disabled]="true"
        type="button"
        icon="pi pi-refresh"
        class="ml-5 p-2 p-button-text"
        id="up_layout_theme_breadcrumbs_refresh"
        (click)="applyChange()"
        [label]="'GENERAL.RELOAD' | translate"
        [pTooltip]="'GENERAL.APPLY.TOOLTIP' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      ></button>
    </div>
  </form>
</div>
