<div class="sm:pt-2 pb-2 sm:pb-3 px-3">
  <form [formGroup]="formGroup">
    <h2 class="my-2 text-base">{{ 'LAYOUT_THEME.MENU_MODE' | translate }}</h2>
    <div *ocxIfBreakpoint="'mobile'" class="mb-2">
      {{ 'LAYOUT_THEME.MENU_MODES.VERTICAL_SIDEBAR_ON_MOBILE' | translate }}
    </div>
    <div class="flex flex-wrap justify-content-start align-items-center row-gap-1">
      <div class="search-criteria-selectbutton">
        <p-selectButton
          *ocxIfBreakpoint="'desktop'"
          id="up_layout_theme_menu_mode"
          [options]="(menuModeOptions$ | async) ?? []"
          formControlName="menuMode"
          (onChange)="saveMenuMode()"
          [ariaLabel]="'LAYOUT_THEME.MENU_MODE' | translate"
          [pTooltip]="'LAYOUT_THEME.MENU_MODES.TOOLTIP' | translate"
          tooltipPosition="top"
          tooltipEvent="hover"
        ></p-selectButton>
      </div>
      <button
        *ngIf="changedMenuMode"
        pButton
        pRipple
        type="button"
        icon="pi pi-refresh"
        class="ml-3 p-2 p-button-text"
        id="up_layout_theme_menu_mode_refresh"
        (click)="applyChange()"
        [label]="'ACTIONS.GENERAL.RELOAD' | translate"
        [ariaLabel]="'ACTIONS.GENERAL.RELOAD' | translate"
        [pTooltip]="'ACTIONS.GENERAL.APPLY.TOOLTIP' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      ></button>
    </div>

    <h2 class="mt-4 sm:mt-5 mb-2 text-base">{{ 'LAYOUT_THEME.COLOR_SCHEME' | translate }}</h2>
    <div class="flex flex-wrap justify-content-start align-items-center row-gap-1">
      <div class="search-criteria-selectbutton">
        <p-selectButton
          id="up_layout_theme_color_scheme"
          [options]="(colorSchemeOptions$ | async) ?? []"
          formControlName="colorScheme"
          (onChange)="saveColorScheme()"
          [ariaLabel]="'LAYOUT_THEME.COLOR_SCHEME' | translate"
          [pTooltip]="'LAYOUT_THEME.COLOR_SCHEMES.TOOLTIP' | translate"
          tooltipPosition="top"
          tooltipEvent="hover"
        ></p-selectButton>
      </div>
      <button
        *ngIf="changedColorScheme"
        pButton
        pRipple
        type="button"
        icon="pi pi-refresh"
        class="ml-3 p-2 p-button-text"
        id="up_layout_theme_color_scheme_refresh"
        (click)="applyChange()"
        [label]="'ACTIONS.GENERAL.RELOAD' | translate"
        [ariaLabel]="'ACTIONS.GENERAL.RELOAD' | translate"
        [pTooltip]="'ACTIONS.GENERAL.APPLY.TOOLTIP' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      ></button>
    </div>

    <ng-container *ngIf="false">
      <h2 class="mt-4 sm:mt-5 mb-3 text-base">{{ 'LAYOUT_THEME.BREADCRUMBS' | translate }}</h2>
      <div class="flex flex-wrap justify-content-start align-items-center row-gap-1">
        <p-inputSwitch
          inputId="up_layout_theme_display_breadcrumbs"
          formControlName="breadcrumbs"
          (onChange)="saveBreadcrumbs()"
          [ariaLabel]="'LAYOUT_THEME.BREADCRUMBS' | translate"
          [pTooltip]="'LAYOUT_THEME.BREADCRUMBS.TOOLTIP' | translate"
          tooltipPosition="top"
          tooltipEvent="hover"
        >
        </p-inputSwitch>
        <button
          *ngIf="changedBreadcrumbs"
          pButton
          pRipple
          [disabled]="true"
          type="button"
          icon="pi pi-refresh"
          class="ml-5 p-2 p-button-text"
          id="up_layout_theme_display_breadcrumbs_refresh"
          (click)="applyChange()"
          [label]="'ACTIONS.GENERAL.RELOAD' | translate"
          [ariaLabel]="'ACTIONS.GENERAL.RELOAD' | translate"
          [pTooltip]="'ACTIONS.GENERAL.APPLY.TOOLTIP' | translate"
          tooltipPosition="top"
          tooltipEvent="hover"
        ></button>
      </div>
    </ng-container>
  </form>
</div>
