<div [formGroup]="formGroup" class="sm:pt-2 pb-2 sm:pb-3 px-3">
  <h2 class="mt-2 mb-3 text-base">{{ 'PRIVACY_SETTINGS.HIDE_MY_PROFILE' | translate }}</h2>
  <div class="flex flex-wrap justify-content-start align-items-center row-gap-1">
    <p-inputSwitch
      inputId="up_privacy_settings_hide_my_profile"
      formControlName="hideMyProfile"
      (onChange)="savePrivacySettings()"
      [ariaLabel]="'PRIVACY_SETTINGS.HIDE_MY_PROFILE' | translate"
      [pTooltip]="'PRIVACY_SETTINGS.HIDE_MY_PROFILE.TOOLTIP' | translate"
      tooltipPosition="top"
      tooltipEvent="hover"
    ></p-inputSwitch>

    <button
      *ngIf="changedPrivacySettings"
      pButton
      pRipple
      type="button"
      icon="pi pi-refresh"
      class="ml-3 p-2 p-button-text"
      id="up_layout_theme_breadcrumbs_refresh"
      (click)="applyChange()"
      [label]="'ACTIONS.GENERAL.RELOAD' | translate"
      [pTooltip]="'ACTIONS.GENERAL.APPLY.TOOLTIP' | translate"
      tooltipPosition="top"
      tooltipEvent="hover"
    ></button>
  </div>
</div>
