@import '/src/app/_up-mixins.scss';

@include danger-action;
@include dialog-footer-buttons;

:host ::ng-deep {
  .p-button-text .p-button-label {
    flex: unset;
  }
  .avatar-image {
    height: 150px;
    width: 150px;
  }
  @media screen and (min-width: 670px) {
    &.sm\:avatar-image {
      height: unset;
      width: unset;
    }
  }
}
