<div
  *ngIf="componentInUse"
  class="m-2 flex flex-wrap justify-content-center sm:justify-content-start column-gap-2 row-gap-0"
>
  <div *ocxIfPermission="'PROFILE_AVATAR#VIEW'">
    <img
      [ocxSrc]="imageUrl$ | async"
      class="avatar-image sm:avatar-image md:avatar-image"
      [alt]="'AVATAR.' + (showPlaceholder ? 'PLACEHOLDER' : 'PHOTO') | translate"
      [pTooltip]="'AVATAR.' + (showPlaceholder ? 'PLACEHOLDER' : 'PHOTO') | translate"
      tooltipPosition="top"
      tooltipEvent="hover"
    />
  </div>

  <ng-container *ocxIfPermission="(userId ? 'USERPROFILE#ADMIN_' : 'PROFILE_AVATAR#') + 'EDIT'">
    <div class="flex flex-row sm:flex-column flex-nowrap align-items-start row-gap-1 toolbar">
      <button
        pButton
        pRipple
        type="button"
        icon="pi pi-upload"
        class="p-2 p-button-text"
        id="up_avatar_action_select"
        (click)="onFileUpload()"
        [label]="'ACTIONS.GENERAL.CHANGE' | translate"
        [ariaLabel]="'ACTIONS.GENERAL.CHANGE' | translate"
        [pTooltip]="'AVATAR.CHOOSE' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      ></button>
      <button
        *ngIf="!showPlaceholder"
        pButton
        pRipple
        type="button"
        icon="pi pi-trash"
        class="p-2 p-button-text"
        id="up_avatar_action_remove"
        (click)="displayAvatarDeleteDialog = true"
        [label]="'ACTIONS.GENERAL.REMOVE' | translate"
        [ariaLabel]="'ACTIONS.GENERAL.REMOVE' | translate"
        [pTooltip]="'AVATAR.REMOVE' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      ></button>
    </div>
  </ng-container>
</div>

<!-- DELETE -->
<p-dialog
  [header]="'AVATAR.REMOVE' | translate"
  [(visible)]="displayAvatarDeleteDialog"
  [modal]="true"
  [closable]="true"
  [draggable]="false"
  [resizable]="false"
  [dismissableMask]="true"
>
  <div class="my-2 flex column-gap-4 row-gap-1 justify-content-start align-items-center">
    <div class="pi pi-question-circle text-3xl danger-action-text"></div>
    <div>
      <div class="font-bold">{{ 'AVATAR.REMOVE.MESSAGE' | translate }}</div>
    </div>
  </div>
  <ng-template pTemplate="footer">
    <div class="flex flex-wrap column-gap-2 row-gap-1 justify-content-end">
      <p-button
        id="up_avatar_delete_action_no"
        icon="pi pi-times"
        (onClick)="displayAvatarDeleteDialog = false"
        [label]="'ACTIONS.CONFIRMATION.NO' | translate"
        [ariaLabel]="'ACTIONS.CONFIRMATION.NO' | translate"
        [pTooltip]="'ACTIONS.CONFIRMATION.NO.TOOLTIP' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      ></p-button>
      <p-button
        id="up_avatar_delete_action_yes"
        icon="pi pi-check"
        (onClick)="onDeleteAvatarImage()"
        [label]="'ACTIONS.CONFIRMATION.YES' | translate"
        [ariaLabel]="'ACTIONS.CONFIRMATION.YES' | translate"
        [pTooltip]="'ACTIONS.CONFIRMATION.YES.TOOLTIP' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      ></p-button>
    </div>
  </ng-template>
</p-dialog>
