<!--Personal Info-->
<form [formGroup]="formGroup" [ocxPatchFormGroupValues]="formUpdates$ | async">
  <div class="mx-2 my-3 grid grid-nogutter row-gap-1 md:row-gap-4" *ngIf="personalInfo$ | async as person">
    <div class="col-12 md:col-6 px-3 py-1 md:py-0">
      <p-panel *ocxIfPermission="'PROFILE_PERSONAL_INFO#VIEW'" styleClass="surface-50">
        <ng-template pTemplate="header">
          <div class="mt-0 mb-3 ml-1 w-full flex flex-wrap justify-content-between align-items-center">
            <div class="font-bold text-2xl">{{ 'PERSONAL_INFO_FORM.HEADER.GENERAL' | translate }}</div>
          </div>
        </ng-template>
        <div
          class="mx-1 sm:mx-2 md:mx-3 mb-1 sm:mb-2 md:mb-3 flex flex-column justify-content-between gap-3 sm:gap-4 md:gap-5"
        >
          <div class="max-w-25rem">
            <span class="p-float-label">
              <input
                pInputText
                type="text"
                readonly
                class="w-full"
                id="up_personal_info_first_name"
                [value]="person.firstName"
                [pTooltip]="'PERSONAL_INFO_FORM.FIRST_NAME.TOOLTIP' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              />
              <label for="up_personal_info_first_name">{{ 'PERSONAL_INFO_FORM.FIRST_NAME' | translate }}</label>
            </span>
          </div>
          <div class="max-w-25rem">
            <span class="p-float-label">
              <input
                pInputText
                type="text"
                readonly
                class="w-full"
                id="up_personal_info_last_name"
                [value]="person.lastName"
                [pTooltip]="'PERSONAL_INFO_FORM.LAST_NAME.TOOLTIP' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              />
              <label for="up_personal_info_last_name">{{ 'PERSONAL_INFO_FORM.LAST_NAME' | translate }}</label>
            </span>
          </div>
          <div class="max-w-25rem">
            <span class="p-float-label">
              <input
                pInputText
                type="text"
                readonly
                class="w-full"
                id="up_personal_info_email"
                [value]="person.email"
                [pTooltip]="'PERSONAL_INFO_FORM.EMAIL.TOOLTIP' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              />
              <label for="up_personal_info_email">{{ 'PERSONAL_INFO_FORM.EMAIL' | translate }}</label>
            </span>
          </div>
        </div>
      </p-panel>
    </div>
    <div class="col-12 md:col-6 px-3 py-1 md:py-0">
      <p-panel styleClass="surface-50 h-full">
        <ng-template pTemplate="header">
          <div class="mt-0 mb-1 sm:mb-2 md:mb-3 ml-1 w-full flex flex-wrap justify-content-between align-items-center">
            <div class="font-bold text-2xl">Avatar</div>
          </div>
        </ng-template>
        <app-avatar> </app-avatar>
      </p-panel>
    </div>

    <div class="col-12 md:col-6 px-3 py-1 md:py-0">
      <p-panel *ocxIfPermission="'PROFILE_ADDRESS#VIEW'" formGroupName="address" styleClass="surface-50">
        <ng-template pTemplate="header">
          <div class="mt-0 mb-1 sm:mb-2 md:mb-3 ml-1 w-full flex flex-wrap justify-content-between align-items-center">
            <div class="font-bold text-2xl">{{ 'PERSONAL_INFO_FORM.HEADER.ADDRESS' | translate }}</div>
            <div *ocxIfPermission="'PROFILE_ADDRESS#EDIT'">
              <button
                *ngIf="!addressEdit"
                pButton
                pRipple
                type="button"
                icon="pi pi-pencil"
                class="p-2 p-button-text"
                id="up_personal_info_address_edit"
                (click)="toggleAddressEdit()"
                [label]="'GENERAL.EDIT' | translate"
                [pTooltip]="'GENERAL.EDIT.TOOLTIP' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              ></button>
              <button
                *ngIf="addressEdit"
                pButton
                pRipple
                type="button"
                icon="pi pi-times"
                class="p-2 p-button-text"
                id="up_personal_info_address_cancel"
                (click)="cancelAddressEdit()"
                [label]="'GENERAL.CANCEL' | translate"
                [pTooltip]="'GENERAL.CANCEL.TOOLTIP' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              ></button>
              <button
                *ngIf="addressEdit"
                pButton
                pRipple
                type="button"
                icon="pi pi-save"
                class="p-2 p-button-text"
                id="up_personal_info_address_save"
                (click)="updateAddress()"
                [label]="'GENERAL.SAVE' | translate"
                [pTooltip]="'GENERAL.SAVE.TOOLTIP' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              ></button>
            </div>
          </div>
        </ng-template>

        <div
          class="mx-1 sm:mx-2 md:mx-3 mb-1 sm:mb-2 md:mb-3 flex flex-column justify-content-between gap-3 sm:gap-4 md:gap-5"
        >
          <div class="max-w-32rem flex flex-wrap gap-2 row-gap-3">
            <span class="p-float-label flex-grow-1">
              <input
                pInputText
                type="text"
                class="w-full"
                [readonly]="!addressEdit"
                id="up_personal_info_address_street"
                formControlName="street"
                [value]="person.address?.street"
                [pTooltip]="'PERSONAL_INFO_FORM.STREET.TOOLTIP' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              />
              <label for="up_personal_info_address_street">{{ 'PERSONAL_INFO_FORM.STREET' | translate }}</label>
            </span>
            <span class="p-float-label">
              <input
                pInputText
                type="text"
                class="max-w-8rem pt-3 pb-2"
                [readonly]="!addressEdit"
                id="up_personal_info_address_street_no"
                formControlName="streetNo"
                [value]="person.address?.streetNo"
                [pTooltip]="'PERSONAL_INFO_FORM.HOUSE_NUMBER.TOOLTIP' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              />
              <label for="up_personal_info_address_street_no">
                {{ 'PERSONAL_INFO_FORM.HOUSE_NUMBER' | translate }}
              </label>
            </span>
          </div>
          <div class="max-w-25rem">
            <span class="p-float-label">
              <input
                pInputText
                type="text"
                class="w-full"
                [readonly]="!addressEdit"
                id="up_personal_info_address_postal_code"
                formControlName="postalCode"
                [value]="person.address?.postalCode"
                [pTooltip]="'PERSONAL_INFO_FORM.POSTAL_CODE.TOOLTIP' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              />
              <label for="up_personal_info_address_postal_code">
                {{ 'PERSONAL_INFO_FORM.POSTAL_CODE' | translate }}
              </label>
            </span>
          </div>
          <div class="max-w-25rem">
            <span class="p-float-label">
              <input
                pInputText
                type="text"
                readonly
                class="w-full"
                [readonly]="!addressEdit"
                id="up_personal_info_address_city"
                formControlName="city"
                [value]="person.address?.city"
                [pTooltip]="'PERSONAL_INFO_FORM.CITY.TOOLTIP' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              />
              <label for="up_personal_info_address_city">{{ 'PERSONAL_INFO_FORM.CITY' | translate }}</label>
            </span>
          </div>
          <div class="max-w-25rem">
            <span class="p-float-label">
              <p-dropdown
                styleClass="w-full"
                id="up_personal_info_address_country"
                [readonly]="!addressEdit"
                [options]="countries"
                formControlName="country"
                [pTooltip]="'PERSONAL_INFO_FORM.COUNTRY.TOOLTIP' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              >
              </p-dropdown>
              <label for="up_personal_info_address_country">{{ 'PERSONAL_INFO_FORM.COUNTRY' | translate }}</label>
            </span>
          </div>
        </div>
      </p-panel>
    </div>

    <div class="col-12 md:col-6 px-3 py-1 md:py-0">
      <p-panel *ocxIfPermission="'PROFILE_PHONE#VIEW'" formGroupName="phone" styleClass="surface-50">
        <ng-template pTemplate="header">
          <div class="mt-0 mb-3 ml-1 w-full flex flex-wrap justify-content-between align-items-center">
            <div class="font-bold text-2xl">{{ 'PERSONAL_INFO_FORM.HEADER.PHONE' | translate }}</div>
            <div *ocxIfPermission="'PROFILE_PHONE#EDIT'">
              <button
                *ngIf="!this.phoneEdit"
                pButton
                pRipple
                id="up_personal_info_phone_edit"
                class="p-2 p-button-text"
                icon="pi pi-pencil"
                label="{{ 'GENERAL.EDIT' | translate }}"
                (click)="togglePhoneEdit()"
                [pTooltip]="'GENERAL.EDIT.TOOLTIP' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              ></button>
              <button
                *ngIf="phoneEdit"
                pButton
                pRipple
                id="up_personal_info_phone_cancel"
                icon="pi pi-times"
                class="p-2 p-button-text"
                label="{{ 'GENERAL.CANCEL' | translate }}"
                (click)="cancelPhoneEdit()"
              ></button>
              <button
                *ngIf="this.phoneEdit"
                pButton
                pRipple
                id="up_personal_info_phone_save"
                class="p-2 p-button-text"
                icon="pi pi-save"
                label="{{ 'GENERAL.SAVE' | translate }}"
                (click)="this.updatePhone()"
              ></button>
            </div>
          </div>
        </ng-template>

        <div class="mx-1 sm:mx-2 md:mx-3 mb-3 flex justify-content-start gap-2">
          <div>
            <span class="p-float-label">
              <p-dropdown
                id="up_personal_info_phone_type"
                [options]="phoneTypes"
                formControlName="type"
                [readonly]="!phoneEdit"
              >
              </p-dropdown>
              <label for="up_personal_info_phone_type"> {{ 'PERSONAL_INFO_FORM.PHONE_TYPE' | translate }} </label>
            </span>
          </div>
          <div class="w-20rem">
            <span class="p-float-label">
              <input
                pInputText
                type="text"
                readonly
                class="w-full"
                [readonly]="!phoneEdit"
                id="up_personal_info_phone_number"
                formControlName="number"
                [value]="person.phone?.number"
                [pTooltip]="'PERSONAL_INFO_FORM.PHONE_NUMBER.TOOLTIP' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              />
              <label for="up_personal_info_phone_number">{{ 'PERSONAL_INFO_FORM.PHONE_NUMBER' | translate }}</label>
            </span>
          </div>
        </div>
      </p-panel>
    </div>
  </div>
</form>
