<div class="mx-3 mb-1 sm:mb-2 md:mb-3 relative flex flex-wrap justify-content-start gap-4 row-gap-1">
  <div *ocxIfPermission="'PROFILE_AVATAR#VIEW'">
    <app-image-container
      [styleClass]="'w-5rem'"
      [imageUrl]="imageUrl"
      (imageLoadError)="onImageError($event)"
    ></app-image-container>
  </div>

  <ng-container *ocxIfPermission="'PROFILE_AVATAR#EDIT'">
    <div class="flex flex-row sm:flex-column flex-wrap gap-1 toolbar">
      <button
        pButton
        pRipple
        type="button"
        icon="pi pi-upload"
        class="p-2 p-button-text"
        id="up_avatar_button_select"
        (click)="onFileUpload()"
        [label]="'ACTIONS.GENERAL.CHANGE' | translate"
        [pTooltip]="'AVATAR.CHOOSE' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      ></button>
      <button
        *ngIf="!imageLoadError"
        pButton
        pRipple
        type="button"
        icon="pi pi-trash"
        class="p-2 p-button-text"
        id="up_avatar_button_remove"
        (click)="showAvatarDeleteDialog = true"
        [label]="'ACTIONS.GENERAL.REMOVE' | translate"
        [pTooltip]="'AVATAR.REMOVE' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      ></button>
    </div>
  </ng-container>
</div>

<!-- DELETE -->
<p-dialog
  [(visible)]="showAvatarDeleteDialog"
  [header]="'AVATAR.REMOVE' | translate"
  [modal]="true"
  [closable]="true"
  [resizable]="false"
  [dismissableMask]="true"
  [style]="{ 'max-width': '425px' }"
>
  <div class="flex column-gap-3 row-gap-1 justify-content-start align-items-center">
    <div class="pi pi-question-circle text-3xl text-primary"></div>
    <div>
      <div>{{ 'AVATAR.REMOVE.MESSAGE' | translate }}</div>
    </div>
  </div>
  <ng-template pTemplate="footer">
    <div class="flex flex-wrap column-gap-2 row-gap-1 justify-content-end">
      <button
        pButton
        autofocus
        type="button"
        class="m-0"
        id="dialog_button_no_confirm"
        icon="pi pi-times"
        iconPos="left"
        [label]="'ACTIONS.CONFIRMATION.NO' | translate"
        (click)="showAvatarDeleteDialog = false"
      ></button>
      <button
        pButton
        type="button"
        class="m-0"
        id="dialog_button_confirm"
        icon="pi pi-check"
        iconPos="left"
        [label]="'ACTIONS.CONFIRMATION.YES' | translate"
        (click)="onDeleteAvatarImage()"
      ></button>
    </div>
  </ng-template>
</p-dialog>
