@import '/src/app/_up-mixins.scss';

@include danger-action;
@include dialog-footer-buttons;

:host ::ng-deep {
  .p-button-text .p-button-label {
    flex: unset;
  }
  .avatar-image {
    border-radius: 100%;
    height: 80px;
    width: 80px;
  }
  @media screen and (min-width: 510px) {
    &.sm\:avatar-image {
      height: 150px !important;
      width: 150px !important;
    }
  }
  @media screen and (min-width: 768px) {
    &.md\:avatar-image {
      height: 220px !important;
      width: 220px !important;
    }
  }
}
