@import '/src/app/_up-mixins.scss';

@include danger-action;
@include dialog-footer-buttons;

:host ::ng-deep {
  .avatar-image {
    border-radius: 100%;
    height: 160px;
    width: 160px;
  }
  .p-button-text .p-button-label {
    flex: unset;
  }
}
