<ocx-portal-page *ocxIfPermission="'USERPROFILE#VIEW'" helpArticleId="PAGE_USER_SETTINGS">
  <ocx-page-header
    [header]="(personalInfo$ | async)?.firstName + ' ' + (personalInfo$ | async)?.lastName"
    [subheader]="'SETTINGS.SUBHEADER' | translate"
  >
  </ocx-page-header>

  <ocx-page-content>
    <p-tabView [(activeIndex)]="selectedTab">
      <p-tabPanel>
        <ng-template pTemplate="header"> {{ 'LANGUAGE_TIMEZONE.TAB_NAME_LANGUAGE_TIMEZONE' | translate }} </ng-template>
        <app-locale-timezone
          [localeInput]="settingsInitial.locale"
          [timezoneInput]="settingsInitial.timezone"
          (localeChange)="localeChange($event)"
          (timezoneChange)="timezoneChange($event)"
          (applyChanges)="reloadPage()"
        ></app-locale-timezone>
      </p-tabPanel>
      <p-tabPanel>
        <ng-template pTemplate="header"> {{ 'LAYOUT_THEME.TAB_NAME_LAYOUT_THEME' | translate }} </ng-template>

        <app-layout-theme
          [colorScheme]="settingsInitial.colorScheme"
          [menuMode]="settingsInitial.menuMode"
          (colorSchemeChange)="colorSchemeChange($event)"
          (menuModeChange)="menuModeChange($event)"
          (applyChanges)="reloadPage()"
        ></app-layout-theme>
      </p-tabPanel>
      <p-tabPanel>
        <ng-template pTemplate="header"> {{ 'PRIVACY_SETTINGS.TAB_NAME_PRIVACY' | translate }} </ng-template>
        <app-privacy-settings
          [privacySettings]="settings.hideMyProfile"
          (privacySettingsChange)="privacySettingsChange($event)"
          (applyChanges)="reloadPage()"
        ></app-privacy-settings>
      </p-tabPanel>
      <p-tabPanel>
        <ng-template pTemplate="header">{{ 'PASSWORD.TAB_NAME_PASSWORD' | translate }}</ng-template>
        <ocx-slot name="changePassword"> </ocx-slot>
      </p-tabPanel>
    </p-tabView>
  </ocx-page-content>
</ocx-portal-page>
