<ocx-portal-page permission="ACCOUNT_SETTINGS#VIEW" helpArticleId="PAGE_USER_SETTINGS">
  @let person = personalInfo$ | async;
  @if (person) {
    <ocx-page-header
      [header]="person.firstName + ' ' + person.lastName"
      [subheader]="'SETTINGS.SUBHEADER' | translate"
      [actions]="(actions$ | async) ?? []"
    >
    </ocx-page-header>
  }

  <ocx-content class="ocx-content">
    <p-tabs [lazy]="false" value="0">
      <p-tablist>
        <p-tab
          value="0"
          *ocxIfPermission="'ACCOUNT_SETTINGS_LANGUAGE_TIMEZONE#VIEW'"
          [ariaLabel]="'LANGUAGE_TIMEZONE.TAB_NAME_LANGUAGE_TIMEZONE' | translate"
          [pTooltip]="'LANGUAGE_TIMEZONE.TAB_NAME_LANGUAGE_TIMEZONE.TOOLTIP' | translate"
          tooltipPosition="top"
          tooltipEvent="hover"
        >
          {{ 'LANGUAGE_TIMEZONE.TAB_NAME_LANGUAGE_TIMEZONE' | translate }}
        </p-tab>
        <p-tab
          value="1"
          *ocxIfPermission="'ACCOUNT_SETTINGS_LAYOUT_THEME#VIEW'"
          [ariaLabel]="'LAYOUT_THEME.TAB_NAME_LAYOUT_THEME' | translate"
          [pTooltip]="'LAYOUT_THEME.TAB_NAME_LAYOUT_THEME.TOOLTIP' | translate"
          tooltipPosition="top"
          tooltipEvent="hover"
        >
          {{ 'LAYOUT_THEME.TAB_NAME_LAYOUT_THEME' | translate }}
        </p-tab>
        @if (isChangePasswordComponentDefined$ | async) {
          <p-tab
            value="2"
            *ocxIfPermission="'CHANGE_PASSWORD#VIEW'"
            [ariaLabel]="'PASSWORD.TAB_NAME_PASSWORD' | translate"
            [pTooltip]="'PASSWORD.TAB_NAME_PASSWORD.TOOLTIP' | translate"
            tooltipPosition="top"
            tooltipEvent="hover"
          >
            {{ 'PASSWORD.TAB_NAME_PASSWORD' | translate }}
          </p-tab>
        }
      </p-tablist>
      <p-tabpanels>
        <!-- PROPS -->
        <p-tabpanel value="0">
          <app-locale-timezone
            [localeInput]="settingsInitial['locale']"
            [timezoneInput]="settingsInitial['timezone']"
            (localeChange)="localeChange($event)"
            (timezoneChange)="timezoneChange($event)"
            (applyChanges)="reloadPage()"
          ></app-locale-timezone>
        </p-tabpanel>
        <p-tabpanel value="1">
          <app-layout-theme
            [colorScheme]="settingsInitial['colorScheme']"
            [menuMode]="settingsInitial['menuMode']"
            (colorSchemeChange)="colorSchemeChange($event)"
            (menuModeChange)="menuModeChange($event)"
            (applyChanges)="reloadPage()"
          ></app-layout-theme>
        </p-tabpanel>
        <p-tabpanel value="2">
          <!--
            The previous used component <app-change-password> is now replaced by a slot.
            The assigned component is in OneCX usually OneCXChangePasswordComponent, provided by OneCX IAM UI.
          -->
          @if (isChangePasswordComponentDefined$ | async) {
            <div class="sm:pt-2 pb-2 sm:pb-3 px-3">
              <ocx-slot [name]="changePasswordSlotName"> </ocx-slot>
            </div>
          } @else {
            <p-message
              id="ps_change_password_error_message"
              severity="info"
              styleClass="m-3 max-w-30rem"
              [text]="'PASSWORD.NOT_AVAILABLE' | translate"
            ></p-message>
          }
        </p-tabpanel>
      </p-tabpanels>
    </p-tabs>
  </ocx-content>
</ocx-portal-page>
