<ocx-portal-page permission="ACCOUNT_SETTINGS#VIEW" helpArticleId="PAGE_USER_SETTINGS">
  <ocx-page-header
    *ngIf="personalInfo$ | async as person"
    [header]="person.firstName + ' ' + person.lastName"
    [subheader]="'SETTINGS.SUBHEADER' | translate"
    [actions]="(actions$ | async) ?? []"
  >
  </ocx-page-header>

  <ocx-page-content>
    <p-tabView>
      <p-tabPanel *ocxIfPermission="'ACCOUNT_SETTINGS_LANGUAGE_TIMEZONE#VIEW'">
        <ng-template pTemplate="header">
          <span
            [pTooltip]="'LANGUAGE_TIMEZONE.TAB_NAME_LANGUAGE_TIMEZONE.TOOLTIP' | translate"
            tooltipPosition="top"
            tooltipEvent="hover"
          >
            {{ 'LANGUAGE_TIMEZONE.TAB_NAME_LANGUAGE_TIMEZONE' | translate }}
          </span>
        </ng-template>
        <app-locale-timezone
          [localeInput]="settingsInitial.locale"
          [timezoneInput]="settingsInitial.timezone"
          (localeChange)="localeChange($event)"
          (timezoneChange)="timezoneChange($event)"
          (applyChanges)="reloadPage()"
        ></app-locale-timezone>
      </p-tabPanel>
      <p-tabPanel *ocxIfPermission="'ACCOUNT_SETTINGS_LAYOUT_THEME#VIEW'">
        <ng-template pTemplate="header">
          <span
            [pTooltip]="'LAYOUT_THEME.TAB_NAME_LAYOUT_THEME.TOOLTIP' | translate"
            tooltipPosition="top"
            tooltipEvent="hover"
          >
            {{ 'LAYOUT_THEME.TAB_NAME_LAYOUT_THEME' | translate }}
          </span>
        </ng-template>
        <app-layout-theme
          [colorScheme]="settingsInitial.colorScheme"
          [menuMode]="settingsInitial.menuMode"
          (colorSchemeChange)="colorSchemeChange($event)"
          (menuModeChange)="menuModeChange($event)"
          (applyChanges)="reloadPage()"
        ></app-layout-theme>
      </p-tabPanel>
      <p-tabPanel *ocxIfPermission="'ACCOUNT_SETTINGS_PRIVACY#VIEW'">
        <ng-template pTemplate="header">
          <span
            [pTooltip]="'PRIVACY_SETTINGS.TAB_NAME_PRIVACY.TOOLTIP' | translate"
            tooltipPosition="top"
            tooltipEvent="hover"
          >
            {{ 'PRIVACY_SETTINGS.TAB_NAME_PRIVACY' | translate }}
          </span>
        </ng-template>
        <app-privacy-settings
          [privacySettings]="settings.hideMyProfile"
          (privacySettingsChange)="privacySettingsChange($event)"
          (applyChanges)="reloadPage()"
        ></app-privacy-settings>
      </p-tabPanel>
      <p-tabPanel *ocxIfPermission="'CHANGE_PASSWORD#VIEW'">
        <ng-template pTemplate="header">
          <span
            [pTooltip]="'PASSWORD.TAB_NAME_PASSWORD.TOOLTIP' | translate"
            tooltipPosition="top"
            tooltipEvent="hover"
          >
            {{ 'PASSWORD.TAB_NAME_PASSWORD' | translate }}
          </span>
        </ng-template>
        <div class="sm:pt-2 pb-2 sm:pb-3 px-3">
          <ocx-slot
            *ngIf="isChangePasswordComponentDefined$ | async; else changePasswordPlaceholder"
            [name]="changePasswordSlotName"
          >
          </ocx-slot>
          <ng-template #changePasswordPlaceholder>
            <div class="font-bold mt-2 mb-3">{{ 'PASSWORD.NOT_AVAILABLE' | translate }}</div>
          </ng-template>
        </div>
      </p-tabPanel>
    </p-tabView>
  </ocx-page-content>
</ocx-portal-page>
