<ocx-portal-page
  *ngIf="personalInfo$ | async as person"
  permission="ROLES_PERMISSIONS#VIEW"
  helpArticleId="PAGE_USER_PERMISSIONS"
>
  <ocx-page-header
    [header]="person.firstName + ' ' + person.lastName"
    [subheader]="'USER_PERMISSIONS.SUBHEADER' | translate"
    [actions]="(actions$ | async) ?? []"
  >
  </ocx-page-header>
  <ocx-page-content>
    <ocx-slot
      *ngIf="isUserRolesAndPermissionsComponentDefined$ | async; else rolesPermissionsPlaceholder"
      [name]="userRolesAndPermissionsSlotName"
      [inputs]="{ active: true }"
    >
      <ng-template #skeleton>
        <p-message
          id="ps_roles_permissions_loading"
          severity="info"
          styleClass="m-3 p-2"
          [text]="'ACTIONS.GENERAL.LOADING' | translate"
        ></p-message>
      </ng-template>
    </ocx-slot>
    <ng-template #rolesPermissionsPlaceholder id="up_roles_permissions_error">
      <p-message
        id="ps_roles_permissions_error_message"
        severity="info"
        styleClass="m-3 p-2"
        [text]="'USER_PROFILE.MSG.SLOT_NOT_DEFINED_USER' | translate"
      ></p-message>
    </ng-template>
  </ocx-page-content>
</ocx-portal-page>
