app:
  name: ui
  image:
    repository: 'onecx/onecx-user-profile-ui'
  routing:
    enabled: true
    path: /mfe/user-profile/
  
  operator:
    # Microfrontend
    microfrontend:
      enabled: true
      specs:
        main:
          exposedModule: "./OneCXUserProfileModule"
          description: "OneCX User Profile UI"
          note: "OneCX User Profile UI auto import via MF operator"
          type: MODULE
    # Permission
    permission:
      enabled: true
      spec:
        permissions:
          USERPROFILE:
            CREATE: Create user profile
            DELETE: Delete user profile
            EDIT: Edit user profile
            SAVE: Update and save user profile
            SEARCH: Search user profile
            VIEW: View mode for user profile
            EXPORT: Export user profile
            IMPORT: Import user profile
    # Keycloak
    keycloak:
      client:
        enabled: true
        spec:
          kcConfig:
            clientId: "onecx-product-store-ui"

# PIPE Config
