<p-dialog
  *ngIf="(userProfile$ | async) ?? {} as profile"
  [(visible)]="displayPersonalDataDialog"
  (onHide)="onCloseDialog()"
  [modal]="true"
  [closable]="true"
  [draggable]="true"
  [resizable]="true"
  [dismissableMask]="true"
  contentStyleClass="p-0"
  [style]="{ width: '860px' }"
>
  <ng-template pTemplate="header">
    <span class="p-dialog-title"> {{ 'ACTIONS.VIEW.PERSONAL_DATA' | translate }} </span>
    <div
      *ngIf="userId"
      class="absolute user-profile-name hidden sm:block"
      [pTooltip]="'USER_PROFILE.USER_NAME' | translate"
      tooltipPosition="top"
      tooltipEvent="hover"
    >
      {{ profile.person?.displayName }}
    </div>
  </ng-template>

  <app-personal-data
    [userProfile]="profile"
    [userId]="userId"
    [tenantId]="tenantId"
    [exceptionKey]="exceptionKey"
    [componentInUse]="componentInUse"
    (personUpdate)="onUpdatePerson($event)"
  ></app-personal-data>

  <ng-template pTemplate="footer">
    <div class="flex flex-wrap justify-content-end column-gap-2">
      <p-button
        id="up_user_delete_action_close"
        icon="pi pi-times"
        (onClick)="onCloseDialog()"
        [label]="'ACTIONS.GENERAL.CLOSE' | translate"
        [ariaLabel]="'ACTIONS.GENERAL.CLOSE' | translate"
        [pTooltip]="'ACTIONS.GENERAL.CLOSE' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      ></p-button>
    </div>
  </ng-template>
</p-dialog>
