<p-dialog
  *ngIf="(userPerson$ | async) ?? {} as person"
  [header]="'ACTIONS.VIEW.USER_PROFILE' | translate"
  [(visible)]="displayPersonalDataDialog"
  (onHide)="onCloseDialog()"
  [modal]="true"
  [closable]="true"
  [draggable]="true"
  [resizable]="true"
  [dismissableMask]="true"
  contentStyleClass="p-0"
  [style]="{ width: '860px' }"
>
  <app-personal-data
    [userPerson]="person"
    [userId]="userId"
    [tenantId]="tenantId"
    [exceptionKey]="exceptionKey"
    [componentInUse]="componentInUse"
    (personUpdate)="onUpdatePerson($event)"
  ></app-personal-data>

  <ng-template pTemplate="footer">
    <div class="flex flex-wrap justify-content-end column-gap-2">
      <p-button
        id="up_user_delete_action_close"
        icon="pi pi-times"
        (onClick)="onCloseDialog()"
        [label]="'ACTIONS.GENERAL.CLOSE' | translate"
        [ariaLabel]="'ACTIONS.GENERAL.CLOSE' | translate"
        [pTooltip]="'ACTIONS.GENERAL.CLOSE' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      ></p-button>
    </div>
  </ng-template>
</p-dialog>
