<ocx-portal-page permission="USERPROFILE#SEARCH" helpArticleId="PAGE_PROFILE_SEARCH">
  <ocx-search-header
    [header]="'DIALOG.SEARCH.HEADER' | translate"
    [subheader]="'DIALOG.SEARCH.SUBHEADER' | translate"
    (searched)="onSearch()"
    (resetted)="onResetCriteria()"
    [manualBreadcrumbs]="false"
    [actions]="(actions$ | async) ?? []"
  >
    <div [formGroup]="criteriaGroup" class="flex flex-row flex-wrap gap-3">
      <span class="p-float-label">
        <input
          id="up_user_profile_search_criteria_first_name"
          pInputText
          type="text"
          formControlName="firstName"
          class="w-11rem sm:w-15rem text-responsive"
          [ariaLabel]="'USER_PROFILE.FIRST_NAME' | translate"
          [pTooltip]="'USER_PROFILE.FIRST_NAME.TOOLTIP' | translate"
          tooltipPosition="top"
          tooltipEvent="hover"
        />
        <label for="up_user_profile_search_criteria_first_name">{{ 'USER_PROFILE.FIRST_NAME' | translate }}</label>
      </span>
      <span class="p-float-label">
        <input
          id="up_user_profile_search_criteria_last_name"
          pInputText
          type="text"
          formControlName="lastName"
          class="w-11rem sm:w-15rem text-responsive"
          [ariaLabel]="'USER_PROFILE.LAST_NAME' | translate"
          [pTooltip]="'USER_PROFILE.LAST_NAME.TOOLTIP' | translate"
          tooltipPosition="top"
          tooltipEvent="hover"
        />
        <label for="up_user_profile_search_criteria_last_name">{{ 'USER_PROFILE.LAST_NAME' | translate }}</label>
      </span>
      <span class="p-float-label">
        <input
          id="up_user_profile_search_criteria_email"
          pInputText
          type="text"
          formControlName="email"
          class="w-11rem sm:w-15rem text-responsive"
          [ariaLabel]="'USER_PROFILE.EMAIL' | translate"
          [pTooltip]="'USER_PROFILE.EMAIL.TOOLTIP' | translate"
          tooltipPosition="top"
          tooltipEvent="hover"
        />
        <label for="up_user_profile_search_criteria_email">{{ 'USER_PROFILE.EMAIL' | translate }}</label>
      </span>
      <span *ocxAdvanced class="p-float-label">
        <input
          id="up_user_profile_search_criteria_user_id"
          pInputText
          type="text"
          formControlName="userId"
          class="w-12rem sm:w-15rem text-responsive"
          [ariaLabel]="'USER_PROFILE.USER_ID' | translate"
          [pTooltip]="'USER_PROFILE.USER_ID.TOOLTIP' | translate"
          tooltipPosition="top"
          tooltipEvent="hover"
        />
        <label for="up_user_profile_search_criteria_key">{{ 'USER_PROFILE.USER_ID' | translate }}</label>
      </span>
    </div>
  </ocx-search-header>

  <div *ngIf="loading || exceptionKey" class="card">
    <p-message
      *ngIf="loading"
      severity="info"
      styleClass="p-2"
      [text]="'ACTIONS.GENERAL.LOADING' | translate"
    ></p-message>
    <p-message *ngIf="exceptionKey" severity="info" styleClass="p-2" [text]="exceptionKey | translate"></p-message>
  </div>

  <div *ngIf="!(loading || exceptionKey)" class="card pt-2 pb-0">
    <ocx-interactive-data-view
      *ngIf="(resultData$ | async) ?? []"
      [data]="(filteredData$ | async) ?? []"
      [columns]="columns"
      [emptyResultsMessage]="'ACTIONS.SEARCH.NO_DATA' | translate"
      [supportedViewLayouts]="['table']"
      [defaultGroupKey]="'ACTIONS.SEARCH.PREDEFINED_GROUP.DEFAULT'"
      [additionalActions]="additionalActions"
      actionColumnPosition="left"
    >
      <ng-template pTemplate="dateTableCell" let-rowObject="rowObject" let-column="column">
        <ng-container> {{ rowObject[column.id] | date: dateFormat }} </ng-container>
      </ng-template>

      <ng-template #topCenter>
        <ocx-data-view-controls
          [enableSorting]="false"
          [enableFiltering]="true"
          (filterChange)="onFilterChange($event)"
          [filterColumns]="[
            'USER_PROFILE.FIRST_NAME' | translate,
            'USER_PROFILE.LAST_NAME' | translate,
            'USER_PROFILE.EMAIL' | translate,
            'INTERNAL.CREATION_DATE' | translate,
            'INTERNAL.MODIFICATION_DATE' | translate
          ]"
          [translations]="dataViewControlsTranslations"
        >
        </ocx-data-view-controls>
      </ng-template>
    </ocx-interactive-data-view>
  </div>
</ocx-portal-page>

<!-- DELETE -->
<p-dialog
  [(visible)]="displayDeleteDialog"
  [header]="'ACTIONS.DELETE.USER' | translate"
  [closable]="true"
  [draggable]="true"
  [resizable]="true"
  [dismissableMask]="true"
  [style]="{ width: '400px' }"
>
  <div class="flex column-gap-3 row-gap-1 justify-content-start align-items-center">
    <div class="pi pi-question-circle text-3xl danger-action-text"></div>
    <div>
      <div id="up_user_delete_message_text" class="font-bold">{{ 'ACTIONS.DELETE.MESSAGE_TEXT' | translate }}</div>
      <div id="up_user_delete_user_display_name" class="mt-2 text-center font-bold danger-action-text">
        {{ selectedUserName }}
      </div>
      <div class="mt-2">{{ 'ACTIONS.DELETE.MESSAGE_HINT' | translate }}</div>
      <div class="mt-2">{{ 'ACTIONS.DELETE.MESSAGE_INFO' | translate }}</div>
    </div>
  </div>
  <ng-template pTemplate="footer">
    <div class="flex flex-wrap justify-content-end column-gap-2 row-gap-1">
      <p-button
        id="up_user_delete_button_no"
        icon="pi pi-times"
        (onClick)="displayDeleteDialog = false"
        [label]="'ACTIONS.CONFIRMATION.NO' | translate"
        [ariaLabel]="'ACTIONS.CONFIRMATION.NO' | translate"
        [pTooltip]="'ACTIONS.CONFIRMATION.NO.TOOLTIP' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      ></p-button>
      <p-button
        id="up_user_delete_button_yes"
        icon="pi pi-check"
        (onClick)="onDeleteConfirmation()"
        [label]="'ACTIONS.CONFIRMATION.YES' | translate"
        [ariaLabel]="'ACTIONS.CONFIRMATION.YES' | translate"
        [pTooltip]="'ACTIONS.CONFIRMATION.YES.TOOLTIP' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      ></p-button>
    </div>
  </ng-template>
</p-dialog>

<!-- DETAIL -->
<p-dialog
  [header]="'ACTIONS.VIEW.USER_PROFILE' | translate"
  [(visible)]="displayDetailDialog"
  [modal]="true"
  [closable]="true"
  [draggable]="true"
  [resizable]="true"
  [dismissableMask]="true"
  contentStyleClass="p-0"
  [style]="{ width: '860px' }"
>
  <app-personal-data-admin
    [displayDetailDialog]="displayDetailDialog"
    (hideDialog)="onCloseDetail()"
    [userProfileId]="userProfile?.['userId']"
  ></app-personal-data-admin>
  <ng-template pTemplate="footer">
    <div class="flex flex-wrap justify-content-end column-gap-2">
      <p-button
        id="up_user_delete_button_close"
        icon="pi pi-times"
        (onClick)="onCloseDetail()"
        [label]="'ACTIONS.GENERAL.CLOSE' | translate"
        [ariaLabel]="'ACTIONS.GENERAL.CLOSE' | translate"
        [pTooltip]="'ACTIONS.GENERAL.CLOSE' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      ></p-button>
    </div>
  </ng-template>
</p-dialog>
