@import '/src/app/_up-mixins.scss';

@include danger-action;
@include dialog-footer-buttons;
@include table-zebra-rows;
@include table-inline-buttons;
@include displaying-text-responsive;
@include correct-ocx-interactive-data-view;

:host ::ng-deep {
  .p-datatable .p-datatable-thead > tr > th {
    border-bottom-width: 2px;
  }
  .p-datatable .p-datatable-thead > tr > th,
  .p-datatable .p-datatable-tbody > tr > td {
    padding: 0.5rem;
    text-align: center !important;
  }
  .p-datatable .p-datatable-thead > tr > th,
  .p-datatable .p-datatable-tbody > tr > td:first-of-type {
    white-space: nowrap;
  }
}
