@import '/src/app/_mixins.scss';

@include danger-action;
@include dialog-footer-buttons;
@include table-zebra-rows;
@include table-inline-buttons;

:host ::ng-deep {
  .correct-ocx-interactive-data-view > ocx-interactive-data-view > div {
    padding: 0 0 0.5rem 0 !important;
    &.surface-border {
      border-bottom: var(--table-header-border) !important;
    }
  }
  .p-datatable .p-datatable-thead > tr > th,
  .p-datatable .p-datatable-tbody > tr > td {
    padding: 0.5rem;
    text-align: center !important;
  }
  .p-datatable .p-datatable-thead > tr > th,
  .p-datatable .p-datatable-tbody > tr > td:first-of-type {
    white-space: nowrap;
  }
}
